"$schema" = 'https://starship.rs/config-schema.json'

format = """
[](bg_1)\
$directory\
[](bg:bg_2 fg:bg_1)\
$c\
$rust\
$golang\
$nodejs\
$php\
$java\
$kotlin\
$haskell\
$python\
$elixir\
[](fg:bg_2 bg:bg_3)\
$git_branch\
$git_status\
[](fg:bg_3 bg:bg_4)\
$conda\
[](fg:bg_4 bg:bg_5)\
$time\
[ ](fg:bg_5)\
$cmd_duration\
$line_break\
$character"""

palette = 'custom'

[os]
disabled = true
style = "bg:red fg:white"

[os.symbols]
Windows = ""
Ubuntu = "󰕈"
SUSE = ""
Raspbian = "󰐿"
Mint = "󰣭"
Macos = "󰀵"
Manjaro = ""
Linux = "󰌽"
Gentoo = "󰣨"
Fedora = "󰣛"
Alpine = ""
Amazon = ""
Android = ""
AOSC = ""
Arch = "󰣇"
Artix = "󰣇"
CentOS = ""
Debian = "󰣚"
Redhat = "󱄛"
RedHatEnterprise = "󱄛"

[username]
show_always = false
style_user = "bg:red fg:white"
style_root = "bg:red fg:white"
format = '[ $user]($style)'

[directory]
style = "bg:bg_1 fg:black"
format = "[$path ]($style)"
truncation_length = 5
truncation_symbol = "…/"
home_symbol = "~"
truncate_to_repo = false

[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = "󰝚 "
"Pictures" = " "
"Developer" = "󰲋 "

[git_branch]
symbol = ""
style = "bg:bg_3"
format = '[[ $symbol $branch ](fg:white bg:bg_3)]($style)'

[git_status]
style = "bg:bg_3"
format = '[[($all_status$ahead_behind )](fg:white bg:bg_3)]($style)'

[nodejs]
symbol = ""
style = "bg:bg_2"
format = '[[ $symbol( $version) ](fg:#3c873a bg:bg_2)]($style)'
detect_folders = [ "node_modules" ]
detect_extensions = []
detect_files = [ "package.json", ".node-version", ".nvmrc", "!bunfig.toml", "!bun.lock", "!bun.lockb" ]

[c]
symbol = " "
style = "bg:bg_2"
format = '[[ $symbol( $version) ](fg:white bg:bg_2)]($style)'

[rust]
symbol = ""
style = "bg:bg_2"
format = '[[ $symbol( $version) ](fg:white bg:bg_2)]($style)'

[golang]
symbol = ""
style = "bg:bg_2"
format = '[[ $symbol( $version) ](fg:white bg:bg_2)]($style)'

[php]
symbol = ""
style = "bg:bg_2"
format = '[[ $symbol( $version) ](fg:white bg:bg_2)]($style)'

[java]
symbol = " "
style = "bg:bg_2"
format = '[[ $symbol( $version) ](fg:white bg:bg_2)]($style)'

[kotlin]
symbol = ""
style = "bg:bg_2"
format = '[[ $symbol( $version) ](fg:white bg:bg_2)]($style)'

[haskell]
symbol = ""
style = "bg:bg_2"
format = '[[ $symbol( $version) ](fg:white bg:bg_2)]($style)'

[python]
symbol = ""
style = "bg:bg_2"
format = '[[ $symbol( $version)(\(#$virtualenv\)) ](fg:white bg:bg_2)]($style)'

[elixir]
symbol = " "
style = "fg:#48205d bg:bg_2"
format = '[ $symbol($version \(OTP $otp_version\) )]($style)'

[docker_context]
symbol = ""
style = "bg:bg_4"
format = '[[ $symbol( $context) ](fg:white bg:bg_4)]($style)'

[conda]
disabled = true
symbol = "  "
style = "fg:white bg:bg_4"
format = '[$symbol$environment ]($style)'
ignore_base = false

[time]
disabled = true
time_format = "%R"
style = "bg:bg_5"
format = '[[  $time ](fg:white bg:bg_5)]($style)'

[line_break]
disabled = true

[character]
disabled = false
success_symbol = '[❯](bold fg:bg_5)'
error_symbol = '[❯](bold fg:red)'
vimcmd_symbol = '[❮](bold fg:bg_5)'
vimcmd_replace_one_symbol = '[❮](bold fg:bg_5)'
vimcmd_replace_symbol = '[❮](bold fg:bg_5)'
vimcmd_visual_symbol = '[❮](bold fg:bg_2)'

[cmd_duration]
show_milliseconds = true
format = " in $duration "
style = "bg:bg_5"
disabled = false
show_notifications = true
min_time_to_notify = 45000

[palettes.custom]
bg_1 = "#ffb703"
bg_2 = "#fb8500"
bg_3 = "#023047"
bg_4 = "#219ebc"
bg_5 = "#8ecae6"
white = "#ffffff"
black = "#000000"
warm_yellow = "#ffb703" 
orange = "#fb8500"
turquoise = "#219ebc"
dark_blue = "#023047"
light_blue = "#8ecae6"
blue = "#034aff"
red = "#ff0000"

[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
mauve = "#cba6f7"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
teal = "#94e2d5"
sky = "#89dceb"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#cdd6f4"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"

[palettes.catppuccin_frappe]
rosewater = "#f2d5cf"
flamingo = "#eebebe"
pink = "#f4b8e4"
mauve = "#ca9ee6"
red = "#e78284"
maroon = "#ea999c"
peach = "#ef9f76"
yellow = "#e5c890"
green = "#a6d189"
teal = "#81c8be"
sky = "#99d1db"
sapphire = "#85c1dc"
blue = "#8caaee"
lavender = "#babbf1"
text = "#c6d0f5"
subtext1 = "#b5bfe2"
subtext0 = "#a5adce"
overlay2 = "#949cbb"
overlay1 = "#838ba7"
overlay0 = "#737994"
surface2 = "#626880"
surface1 = "#51576d"
surface0 = "#414559"
base = "#303446"
mantle = "#292c3c"
crust = "#232634"

[palettes.catppuccin_latte]
rosewater = "#dc8a78"
flamingo = "#dd7878"
pink = "#ea76cb"
mauve = "#8839ef"
red = "#d20f39"
maroon = "#e64553"
peach = "#fe640b"
yellow = "#df8e1d"
green = "#40a02b"
teal = "#179299"
sky = "#04a5e5"
sapphire = "#209fb5"
blue = "#1e66f5"
lavender = "#7287fd"
text = "#4c4f69"
subtext1 = "#5c5f77"
subtext0 = "#6c6f85"
overlay2 = "#7c7f93"
overlay1 = "#8c8fa1"
overlay0 = "#9ca0b0"
surface2 = "#acb0be"
surface1 = "#bcc0cc"
surface0 = "#ccd0da"
base = "#eff1f5"
mantle = "#e6e9ef"
crust = "#dce0e8"

[palettes.catppuccin_macchiato]
rosewater = "#f4dbd6"
flamingo = "#f0c6c6"
pink = "#f5bde6"
mauve = "#c6a0f6"
red = "#ed8796"
maroon = "#ee99a0"
peach = "#f5a97f"
yellow = "#eed49f"
green = "#a6da95"
teal = "#8bd5ca"
sky = "#91d7e3"
sapphire = "#7dc4e4"
blue = "#8aadf4"
lavender = "#b7bdf8"
text = "#cad3f5"
subtext1 = "#b8c0e0"
subtext0 = "#a5adcb"
overlay2 = "#939ab7"
overlay1 = "#8087a2"
overlay0 = "#6e738d"
surface2 = "#5b6078"
surface1 = "#494d64"
surface0 = "#363a4f"
base = "#24273a"
mantle = "#1e2030"
crust = "#181926"
